* {
    font-family:
        Product Sans, monospace;
    font-size: 13px;
    border: none;
    border-radius: 0px;
}

window#waybar {
    margin-left: 5px;
    margin-right: 5px;
    background: rgba(20, 20, 20, 0.34);
    color: #ffffff;
}

#workspaces button {
    padding: 0 8px;
    margin: 5px 2px;
    border-radius: 12px;
    background: transparent;
    color: #bbbbbb;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}

#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#battery,
#backlight {
    padding: 0 12px;
    margin: 5px 0;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
}

#waybar {
    margin-left: 10px;
    margin-right: 10px;
}
